body{
background:var(--bg-dark);
color:var(--text-dark);
}

.navbar,
#header,
.navbar-inverse{
background:white;
border:none;
}


.navbar a{
color:var(--text-dark);
}

.navbar a:hover{
color:var(--pssc-gold);
}

.maincontent,
#opac-main,
.panel,
.card,
.well{
/*background:var(--bg-panel);*/
background:var(--pssc-purple-dark);
border-radius:8px;
border:1px solid var(--pssc-purple-dark);
}

.btn-primary{
background:var(--pssc-purple);
border-color:var(--pssc-purple-dark);
}

.btn-primary:hover{
background:var(--pssc-purple-dark);
}

.btn-secondary{
background:var(--pssc-gold);
border-color:var(--pssc-gold-dark);
color:#222;
}

a{
color:var(--pssc-purple);
}

a:hover{
color:var(--pssc-gold);
}

#searchform input{
border-radius:30px;
border:1px solid var(--border-color);
padding:10px 15px;
}

#searchform button{
background:var(--pssc-purple);
border:none;
border-radius:30px;
color:white;
}

.table{
background:white;
border-radius:6px;
}

.table-striped tbody tr:nth-child(odd){
background:#f2f2f7;
}

#opac-facets{
background:var(--bg-panel);
border-radius:8px;
padding:10px;
}

.generated-cover{
color:white;
font-weight:600;
border-radius:10px;

background:linear-gradient(
135deg,
var(--pssc-purple),
var(--pssc-purple-dark)
);
}


.card,
.panel,
.table{
transition:all .2s ease;
}

.card:hover{
transform:translateY(-2px);
}

#moresearches a{
    color:var(--text-light);
}

.dropdown-item{
    color: var(--text-dark);
}

