#advsearch_form{
	border: 0px;
}

.sr-only{
	visibility: hidden;
}

#advsearch .main{
	border: 0px;
}

#advsearch{
	background: var(--pssc-purple-dark);
}

#advsearch .main .container-fluid{
	background: var(--pssc-white);
	border: 0px;
	border-radius: 5px;
	padding: 15px;
}