@import 'colors.css';
@import 'base.css';
@import 'logo.css';

#random-books{
display:grid;
grid-template-columns:repeat(auto-fill,120px);
gap:20px;
justify-content:center;
margin-top:20px;
}

.random-book{
display:flex;
flex-direction:column;
align-items:center;
width:120px;
text-decoration:none;
}

.generated-cover{
width:120px;
height:180px;
border-radius:8px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
font-weight:600;
padding:10px;
/* truncation */
display:-webkit-box;
-webkit-line-clamp:4;        /* number of lines */
-webkit-box-orient:vertical;
}


.bookcover{
position:relative;
}

.generated-cover{
position:absolute;
inset:0;
}